<div class="show">
<div class=""
  <div class="header">
    <h1>Final Score</h1>
  </div>

  <div class="final_scores">
<% count = 1 %>
<% @game.rounds.each do |round| %>
  <% if tmp_winner = round.find_winner %>
    <%= "Round #{count}: #{tmp_winner.name}" %><br>
  <% else %>
    <%= "Round #{count}: No Winner This Round" %><br>
  <% end %>
  <% count += 1 %>

<% end %>
  </div>

  <div>
  <% op = @game.players.order(wins: :desc) %>
  <% if op[0].wins == op[1].wins %>
    <% win_text = "A Tie" %>
  <% else %>
    <% win_text = op[0].name %>
  <% end %>

<h1 class="winner">The Winner Is... <%= win_text %></h1>

<!-- <p><img src="https://us-east-1.tchyn.io/snopes-production/uploads/2017/07/bob_barker_fb.jpg?resize=865,452" class="w3-spin w3-jumbo"></p> -->
  </div>

  <div>
<%= button_to "Home Page", "/", method: :get, class: "small_button" %>
</div>
  </div>
</div>
