<div class="splash">
  <div class="title">

    <span>PRICE</span>
    <span>HOT</span>
    <span>$EAT</span>

  </div>
  <div class="title_buttons">
    <%= button_to "New Game", new_game_path, method: :get, class: "big_button"%> <br>
    <%= button_to "All Games", games_path, method: :get, class: "big_button" %>

  </div>
</div>
