/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
  margin: 0;
}

h4{
  background-color: black;
  color: white;
}

h2 {
  margin-top: 0;
}

html{
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

 div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
 }

 h1 {

   /* text-shadow: 3px 4px darkorange; */
 }

body {
  padding: 0px;
  font-family: 'Niramit';
  font-size: 20px;
  background-image: linear-gradient(180deg, #01cdff, darkblue);
  vertical-align: middle;
  height: 100%;
  margin: 0;
}


a {
  /* background-color: orange;
  color: white;
  padding: 8px 12px;
  text-align: center;

  display: inline-block;
  border-radius: 12px; */
  text-decoration: none;
}

input{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.submit{
  background-color: white;
  color: dodgerblue;
  padding: 6px 10px;

}

.submit:hover{
  background-color: lightsteelblue;
}

.delete{

  font-size: 16px;
  background-color: crimson;
  border-radius: 4px;

}

.delete:hover{
  background-color: firebrick;
}

.big_button{
  font-size: 30px;
  border: 3px solid black;
  border-radius: 4px;
  background-color: transparent;
}

.big_button:hover{
  background-color: rgba(0,0,0,.2)
}

.med_button{
  margin-top: 10px;
  font-size: 28px;
  background-color: gold;
  border-radius: 4px;
  color: white;
}

.med_button:hover, .med_button:active {
    background-color: darkorange;
    color: white;
    text-decoration: none;
}

.splash{
  width: 100%;
  height: 100%;
-webkit-animation: colorchange 5s infinite;
}


.fancy_button_container{
  margin-top: 15%;
}

.fancy_button:hover{
  -webkit-animation: colorchange 1s infinite;
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
   {
     0%   {background: orange;}
     17%   {background: yellow;}
     34%   {background: green;}
     51%  {background: blue;}
     68%  {background: purple;}
     85%  {background: red;}
     100% {background: orange;}
   }

span{

}

.title{
  font-size: 100px;
  font-family: 'Erica One', cursive;
  color: gold;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.title_buttons{
  margin: 25px;
}

.show{

  /* flex-direction: column;

  align-content: center; */
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: left;
  text-align: left;
  height: 100%;

}

.game_info{
  /* flex-direction: row; */
}

.item_container{
  /* flex-grow: 1; */
  margin: 10px;
}

.item_div{
  background-color: white;
  border-radius: 20px;
  font-size: 24px;
  padding: 10px
  /* margin: auto; */
}

img {
  display: block;
  max-width: 700px;
  max-height: 280px;
  width: auto;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player_container{
  /* display: inline-block;
  float:left; */
  flex-direction: row;
  vertical-align: bottom;
  width: 100%;
  align-self: flex-end;
  bottom: 10px;
}

.player_div_red{
  width: 20%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: red;
}
.player_div_blue{
  width: 20%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: royalblue;
}
.player_div_green{
  width: 20%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: green;
}
.player_div_yellow{
  width: 20%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: yellow;
}

.small_button{
  font-size: 18px;
  background-color: gold;
  border-radius: 4px;
  color: white;
  margin-top: 5px;
}

.small_button:hover, .small_button:active {
    background-color: darkorange;
    color: white;
    text-decoration: none;
}

.form_container{
  flex-direction: row;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.winner{
  -webkit-animation: color-change 1s infinite;
  font-size: 30px;
}

@-webkit-keyframes color-change {
  0%   {color: orange;}
  17%   {color: yellow;}
  34%   {color: green;}
  51%  {color: blue;}
  68%  {color: purple;}
  85%  {color: red;}
  100% {color: orange;}
}

.input_field{
  width: 90%
}

#float {
    position: relative;
    -webkit-animation: floatBubble 1s infinite  normal ease-out;
}
@-webkit-keyframes floatBubble {
    0% {
        top:500px;
    }
    50% {
      top:0px;
    }
    100% {
        top:500px;
    }
}
