/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1 {

   /* text-shadow: 3px 4px darkorange; */
 }

html, body {
  background-image: linear-gradient(180deg, #01cdff, darkblue);
  vertical-align: middle;
  height: 100%;
  margin: 0;
}


a {
  background-color: orange;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}

a:hover, a:active {
    background-color: darkorange;
    color: white;
    text-decoration: none;
}

input{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  border: none;
}

.submit{
  background-color: white;
  color: dodgerblue;
  padding: 6px 10px;

}

.submit:hover{
  background-color: lightsteelblue;
}

.delete{
  background-color: crimson;
}

.delete:hover{
  background-color: firebrick;
}

.new_game{

}

.splash{
  -webkit-animation: colorchange 5s infinite;
  background-image: linear-gradient(135deg, orange, red);
  float: left;
  width: 50%;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */

}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
   {
     0%   {background: orange;}
     60%  {background: red;}
     100% {background: orange;}
   }

span{
  font-size: 100px;
  font-family: 'Erica One', cursive;

  color: gold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.title{

}

.index{
  float: right;
  width: 50%;
  height: 100%;
}
